<div class="container mx-auto md:px-8">
  <div class="flex items-center gap-x-4">
    <div class="w-10 bg-primary h-[2px]"></div>
    <h1 class="font-bold text-primary">Best Services</h1>
  </div>
  <div class="flex flex-col gap-2">
    <div class="font-bold text-3xl md:text-4xl">What our services</div>
    <div class="flex flex-wrap gap-2 justify-between">
      <div class="w-full md:w-2/4 text-text-secondary text-xs md:text-base">
        Explore our range of high-quality services designed to meet your needs
        and make a positive impact on your life.
      </div>
      <button type="button" class="btn btn-md btn-primary text-white">
        See More
      </button>
    </div>
    <div class="flex flex-wrap justify-center gap-4">
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Medical Assistance</h2>
          <p class="text-text-secondary">
            Access professional medical assistance for your health and
            well-being.
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Emergency Shelter</h2>
          <p class="text-text-secondary">
            Find safe and secure emergency shelter solutions during crises.
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Food Distribution</h2>
          <p class="text-text-secondary">
            Receive nutritional support through our food distribution services.
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Educational Resources</h2>
          <p class="text-text-secondary">
            Access educational resources and support for personal development.
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Crisis Counseling</h2>
          <p class="text-text-secondary">
            Connect with professional counselors to navigate challenging
            situations.
          </p>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="bg-primary w-10 p-2 flex justify-center rounded">
            <fa-icon class="text-white" size="lg" [icon]="faHome"></fa-icon>
          </div>
          <h2 class="card-title">Clothing Assistance</h2>
          <p class="text-text-secondary">
            Receive essential clothing items to meet your basic needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
