<div class="hero min-h-screen">
  <div
    class="hidden md:block absolute top-20 left-0 w-72 h-[90%] bg-shape-bg rounded-full mix-blend-multiply blur-3xl filter opacity-30 animate-blob"
  ></div>

  <div
    class="hidden md:block absolute top-20 right-0 w-72 h-[90%] bg-shape-bg rounded-full mix-blend-multiply blur-3xl filter opacity-30 animate-blob"
  ></div>

  <div
    class="hero-content text-center w-full text-neutral-content flex flex-col p-12"
  >
    <h1 class="mb-5 text-primary font-bold text-2xl md:text-4xl">
      Disaster Aid App
    </h1>

    <h1 class="mb-5 text-2xl font-bold text-black md:text-4xl">
      Empowering Communities in Crisis
    </h1>

    <p class="mb-5 text-text-base font-light text-sm md:text-base">
      Providing essential aid and support during disasters. Our app streamlines
      the process, offering quick and effective assistance. In times of crisis,
      trust Disaster Aid App to connect you with the help you need.
    </p>

    <div class="flex justify-center items-center gap-x-8 md:gap-x-24">
      <button class="btn btn-primary text-white">Get Started</button>
      <button
        class="btn bg-base-100 border-primary border-2 text-primary hover:bg-primary hover:text-white"
      >
        Learn More
      </button>
    </div>
  </div>
</div>
