<footer class="px-4 bg-gray-50   w-full">
  <div class="block md:flex flex-wrap py-10 justify-start md:justify-around md:px-20 items-start w-full">
    <!-- section1 -->
    <div class="flex flex-col gap-y-4 py-2 md:py-0 md:w-3/12">
      <div class="flex gap-x-4">
        <fa-icon class="text-xl md:text-3xl text-primary" [icon]="faHouseCrack"></fa-icon>
        <h2 class= " text-xl md:text-3xl">Disaster Aid</h2>
      </div>
      <div class="text-text-secondary text-sm ">
        Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
        cillum sint consectetur cupidatat.
      </div>
      <div class="flex flex-wrap  gap-4">
        <a href="">
        <fa-icon class=" flex justify-center items-center  text-white bg-primary w-10 h-10 md:w-12 md:h-12 rounded-full md:text-2xl" [icon]="faFacebook"></fa-icon>
        </a>

        <a href="">
        <fa-icon class=" flex justify-center items-center  text-white bg-primary w-10 h-10 md:w-12 md:h-12 rounded-full md:text-2xl" [icon]="faInstagram"></fa-icon>
        </a>
        <a href="">

        <fa-icon class=" flex justify-center items-center  text-white bg-primary w-10 h-10 md:w-12 md:h-12 rounded-full md:text-2xl" [icon]="faTwitter"></fa-icon>
        </a>
      </div>
    </div>
    <!-- section2 -->
    <div class="flex flex-col  items-start gap-y-1">
      <h3 class="text-2xl text-primary">Navigation</h3>

      <div class="menu gap-2">
        <a
          class="cursor-pointer hover:border-primary hover:text-primary hover:bg-transparent hover:scale-105 transition-transform"
          >Navbar Item 1</a
        >
        <a
          class="cursor-pointer hover:border-primary hover:text-primary hover:bg-transparent hover:scale-105 transition-transform"
          >Navbar Item 1</a
        >

        <a
          class="cursor-pointer hover:border-primary hover:text-primary hover:bg-transparent hover:scale-105 transition-transform"
          >Navbar Item 1</a
        >
        <a
          class="cursor-pointer hover:border-primary hover:text-primary hover:bg-transparent hover:scale-105 transition-transform"
          >Navbar Item 1</a
        >
      </div>
    </div>

    <!-- section3 -->
    <div class=" flex  flex-col items-start gap-y-1">
      <h3 class="text-2xl text-primary">Links</h3>

      <div class="menu gap-2">
        <a
          class="cursor-pointer hover:border-primary hover:text-primary hover:bg-transparent hover:scale-105 transition-transform"
          >Navbar Item 1</a
        >
        <a
          class="cursor-pointer hover:border-primary hover:text-primary hover:bg-transparent hover:scale-105 transition-transform"
          >Navbar Item 1</a
        >

        <a
          class="cursor-pointer hover:border-primary hover:text-primary hover:bg-transparent hover:scale-105 transition-transform"
          >Navbar Item 1</a
        >
        <a
          class="cursor-pointer hover:border-primary hover:text-primary hover:bg-transparent hover:scale-105 transition-transform"
          >Navbar Item 1</a
        >
      </div>
    </div>

    <!-- section4 -->
    <div class="flex flex-col items-start gap-y-2">
      <h3 class="text-xl md:text-2xl text-primary">Contact Info</h3>
      <div class="flex flex-col gap-y-6">
        <div class="flex gap-x-2">
          <fa-icon class="text-primary" [icon]="faPhone"></fa-icon>
          <h4>8721987197</h4>
        </div>

        <div class="flex gap-x-2">
          <fa-icon class="text-primary" [icon]="faMessage"></fa-icon>
          <h4>iWQnF@example.com</h4>
        </div>

        <div class="flex gap-x-2">
          <fa-icon class="text-primary" [icon]="faLocationDot"></fa-icon>
          <h4>iWQnF@example.com</h4>
        </div>
      </div>
    </div>
  </div>
</footer>
